{% load static %}
	<!--================Footer Area =================-->
	<footer class="footer pt-3  ">
		<div class="container text-center">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer_top flex-column">
						<div class="footer_logo mt-1">
							<a href="https://www.enedino.com.br">
								<img src="{% static 'todoapp/img/logo.png'%}" alt="">
								
							</a>
							<br>
							<a class="navbar-brand logo_h" href="https://www.enedino.com.br"><img src="{% static 'todoapp/img/faviconEnedino.svg'%}" style="width:40px" alt=""></a>
						</div>
						<div class="footer_social">
                            <a class="btn btn-link btn-floating m-3 rounded-circle"
							href="https://www.enedino.com.br/contato"  role="button"><i
                                    class="fab fa-google  fa-3x"></i></a>
                            <a class="btn btn-link btn-floating m-3 rounded-circle"
                                href="https://www.linkedin.com/in/robinsonbrz" target="_blank" role="button"><i
                                    class="fab fa-linkedin-in  fa-3x"></i></a>
                            <a class="btn btn-link btn-floating m-3 rounded-circle icon-socials" href="https://github.com/robinsonbrz"
                                target="_blank" role="button"><i class="fab fa-github fa-3x"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				© 2022 Copyright:
				<a class="text-left text-dark" href="https://www.djangoproject.com/"  target="_blank">Powered by Django</a>
		  
				<a class="text-right text-light mr-5" href="https://www.enedino.com.br"  target="_blank">
				  <span class="text-right" >coded by Robinson</span>
				</a>
			  </div>
		</div>
	</footer>
	<!--================End Footer Area =================-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js" integrity="sha512-PNXCBnFH9wShbV+mYnrfo0Gf3iSREgBWmYAoMIfc+Z83vVq3Nu4yxBk6j+BZ40ZIhtW3WlTQdBvW3AYLAnlgpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/5.0.0/imagesloaded.pkgd.min.js" integrity="sha512-kfs3Dt9u9YcOiIt4rNcPUzdyNNO9sVGQPiZsub7ywg6lRW5KuK1m145ImrFHe3LMWXHndoKo2YRXWy8rnOcSKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.1/isotope.pkgd.min.js" integrity="sha512-+OO9GhDMRwCVHN/PBznZjqGWOq8FeLkLHTAdRBcbGv6PGgSpPYMsJBJKDzca6eJuAwLF7XOtoY7Ig2emcMX5zQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js" integrity="sha512-lo4YgiwkxsVIJ5mex2b+VHUKlInSK2pFtkGFRzHsAL64/ZO5vaiCPmdGP3qZq1h9MzZzghrpDP336ScWugUMTg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.2.0/jquery.ajaxchimp.min.js" integrity="sha512-ZkbQd6g8+JWjLU+eCQG3eGo5/8a6mbqKWX370z2lc8d5erJxeb2LbJUAkpAh7GJs3KkyqNr/rTCuw3dfIKRFIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js" integrity="sha512-emPswKmLFtjIzEQnECO0K1syIQhO9ZVE5eG+PtirksDTRPj4pDxBqnr8kF64UHO0kO/E6lYVAfCi/4X2aOk6Nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="{% static '/portapp/js/theme.js'%}"></script>
	